html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
.container{
    padding: 0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    font-family: Helvetica;
}
body {
    background-color: #ffcc00;
}
a:hover{
    text-decoration: none;
}
header {
    background-color: #303030;
}
#logo span {
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
}
header a{
    color: #fff;
}
.main_menu {
    display: table;
    width: 100%;
}
.main_menu > li {
    display: table-cell;
    text-align: center;
    position: relative;
}
.main_menu li a {
    padding: 42px 0;
    display: block;
    font-weight: bold;
    border-bottom: 4px solid transparent;
}
.main_menu li a:hover{
    color: #ffc000;
    border-bottom-color: #ffc000;
    text-decoration: none;
}
header a:hover{
    color: #ffffff;
    text-decoration: none;
}
.sub{
    display: none;
    position: absolute;
    width: 230px;
    background-color:  #303030;
    padding:  15px 0;
    left: -10px;
    
}
.main_menu li:hover > .sub, .sub:hover{
    display: block;
}
.main_menu .sub li {
    display: block;
}
.main_menu li .sub a{
    padding: 10px 0;
    font-size: 14px;
    border: none;
}
.main_menu li .sub a:hover{
    border: none;
}
.fa.fa-phone.fa-4 {
    color: #fff;
    display: block;

    font-size: 37px;
    padding-right: 10px;
    padding-top: 5px;
}
.phones{
    padding: 29px 0;
}
.phones div{
    float: right;
}
.phones a{
    display: block;
    font-size: 18px;
    padding-left:10px;
    padding-bottom: 5px;
}


section#slider{
    position: relative;
}
.slider_form{
    position: absolute;
    bottom: 120px;
    left: 0;
    width:100%;
}
.slider{
    background-image: url(/image/catalog/slide.jpg);

    background-size: 100% auto;
    background-position: center center;
}
.slider_bg{
    background: rgba(0, 0, 0, 0.5);
    height: 500px;
    padding-top: 40px;
}

section#slider .h1 {
    color: #ffcc00;
    font-size: 72px;
    font-weight:bold;
    text-transform: uppercase;
    margin: 0;
}
section#slider .h2 {
    color: #fff;
    font-size: 60px;
    font-weight:bold;
    text-transform: uppercase;
    margin: 0;
}
section#slider .h3 {
    color: #fff;
    font-size: 28px;
    margin: 0;
}
section#slider .form_wrap{
     display: table;
     width: 100%;


 }
section#slider .input_wrap{
    position: relative;

}
section#slider .input_wrap::before{
   content: "\f095";
    font-family: FontAwesome;
    position: absolute;
    top: 12px;
    font-size: 30px;
    left: 15px;
    color: #7f7f80;

}
section#slider .input_wrap:first-child::before{
    content: "\f007";
}
section#slider .input_wrap:first-child::after{
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 16px);
    background-color: #d1d1d1;
    right: 0;
    top: 8px;
}
section#slider .form_wrap > *{
    display: table-cell;

}
section#slider .form_wrap input, section#slider .form_wrap button{
    width: 100%;
    border: none;
    padding: 20px;
    color: #303030;
    font-size:18px;
}
section#slider .form_wrap input{
    padding-left: 60px;
}
section#slider .input_wrap:first-child input{
     border-top-left-radius: 6px;
     border-bottom-left-radius: 6px;
 }
section#slider .form_wrap button{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #ffcc00;
    color: #333333;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
}
.form_bottom{
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 40px;
    padding: 5px 10px;
    color: #fff;
    font-size:18px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius:4px;
    font-weight: lighter;
}

section.product {
    position: relative;
    top: -50px;
}
section.product .container{
    padding: 10px 40px 40px;
}
.product .container{
    background: #fff;
}
.product .box-heading{
    margin-bottom: 40px;
}
section.product img{
    width: 100%;
}
body .box-heading .h3{
    font-size: 30px;
    color: #333333;
    font-weight:bold;
    padding: 20px 0px;
    margin: 0;
    display: inline-block;
    position: relative;
    z-index: 9;
    background-color: #fff;
    width: 300px;
}
.box-heading{
    position: relative;

}
.box-heading::after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 4px;
    background-color: #ffcc00;
    top: 50%;
    z-index: 2;
}
.box-heading .h3::after{
     content: '';
     position: absolute;
     top: 10px;
     right:  -60%;
     background-image: url("/image/catalog/car-directions.png");
     width: 60px;
     height: 60px;
     background-size: 35px 35px;
     background-repeat: no-repeat;
     background-position: center center;
     background-color: #fff;
     z-index: 5;
 }
.box-heading .h3::before{
    content: '';
    position: absolute;
    top: 10px;
    left:  -60%;
    background-image: url("/image/catalog/car-directions.png");
    width: 60px;
    height: 60px;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    z-index: 5;
}
.product .row .col-sm-4:nth-child(1){
    padding-right: 8.5%;
}
.product .row .col-sm-4:nth-child(2){
    padding: 0 4.25%;
}
.product .row .col-sm-4:nth-child(3){
    padding-left: 8.5%;
}
.product .row .title a {
    color: #333333;
    font-size: 20px;
    padding: 10px 0 20px;
    display: block;
    font-weight:bold;
}
.product .img_tovar{
    display: block;
    width: 220px;
    height: 220px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;

}
.product .sub_title{
    padding: 20px 10px;
    color: #333333;
    font-size: 16px;
    font-weight:bold;
    min-height: 73px;
}
.product .price{
    font-weight:bold;
    font-size: 20px;
    color: #333333;
    padding: 15px 0;
}
.descr_product{
    line-height: 20px;
    min-height: 80px;
}
a.more{
    padding: 15px 25px;
    font-weight:bold;
    color: #333333;
    font-size: 18px;
    display: inline-block;
    background-color: #ffcc00;
    border-radius: 4px;
    box-shadow: -1px 3px 9px rgba(0, 0, 0, 0.4)
}

.box-heading.white::after{
    background-color: #fff;
}
.box-heading.white .h3{
    background-color: #ffcc00;
}
.box-heading.white .h3::before,  .box-heading.white .h3::after{
    background-image: url("/image/catalog/car-directions-white.png");
    background-color: #ffcc00;
}
.engine .container{
    padding: 0 30px;
}
.box-engine{
    padding: 20px 0 40px;
}
.video_testimonial {
    position: relative;
    bottom: -100px;
    margin-top: -100px;
}
.video_testimonial .container{
    background-color: #fff;
    padding:  10px 30px 30px;
}
.video_testimonial img{
    width: 100%;
}
.video_testimonial .row{
    padding: 20px 0;
}
.testimonial_link{
    font-size: 18px;
    font-weight:bold;
    color: #333;
    display: block;
    padding: 5px 0 10px;
}
.date{
    font-size: 15px;
    color: #333;
    font-weight:lighter;
    padding-bottom: 10px;
}
.testimonial_photo img{
    display: block;
    border: 2px solid #ffcc00;
    border-radius: 4px;
}
.video_testimonial .more{
    padding: 15px 60px;
}


/*category page*/
.category_page, .product_page, .news_page, .testimonial_page{
    background-size: 100% auto;
    padding: 80px 0 40px;

    background-repeat: no-repeat;
}
.category_block, .product_block, .news_block{
    background-color: #ffffff;
    padding: 10px 40px 30px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.32);
}
.category_products, .news_products, .testimonial_products{
    padding: 40px 0 0px 80px;
    position: relative;
    z-index: 5;
}
.category_products::after, .news_products::after, .testimonial_products::after{
    content: '';
    width: 36%;
    height: calc(100% - 60px);
    position: absolute;
    top: 20px;
    left:0;
    z-index: 2;
    border: 2px solid #ffcc00;
}
.product_item, .news_item{
    z-index: 20;
    position: relative;
    border: 2px solid #ffcc00;
    margin: 20px 0 30px;
    overflow: hidden;
}
.testimonial_item{
    z-index: 20;
    position: relative;
    margin: 20px 0 30px;
}
.product_item > div, .news_item > div, .testimonial_item > div{
    display: inline-block;
    vertical-align: middle;
}
.testimonial_item > div{
    vertical-align: top;
}
.ask_answer .title{
    border-top: 2px solid #ffcc00;
    padding-top: 20px;
}

.testimonial_item  .wrap {
    max-height: 190px;
    overflow: hidden;
    margin-bottom: 26px;
}
.testimonial_item .product_box {
    width: 69%;
    border: 2px solid #ffcc00;
    margin-left: calc(-10% + 3px);
    padding: 20px 20px 20px 13%;
}
.testimonial_item .text {
    font-size: 15px;
    line-height: 20px;

    margin-bottom: 20px;
}
.news_item > div{
    vertical-align: top;
}
.product_item .product_img, .news_item .product_img, .testimonial_products .product_img{
    width: 55%;
    height: 300px;
    background-size: cover;
    margin-bottom: -1px;
    border-right: 2px solid #ffcc00;
}
.testimonial_products .product_img{
    border:  2px solid #ffcc00;
    width: 40%;
    position: relative;
}
.news_item .product_img{
    width: 40%;
    margin-right: 20px;
}
.product_item .product_box{
    width: 44%;
}
.news_item .product_box{
    width: calc(60% - 30px);
    padding-right: 20px;
}
.news_item .text {
    font-size: 15px;
    line-height: 20px;
    max-height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
}
.read_blog {
    text-align: right;
    display: block;
}

.news_item .product_box.active .text{
    max-height: 100%;

}
.read_blog span{
 display: inline-block;
    padding: 12px 20px;
    background-color: #ffcc00;
    text-transform: uppercase;
    font-weight:bold;
    color: #333333;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
.ask {
    max-width: 230px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.product_item .title{
    font-size: 30px;
    font-weight:bold;
    max-width: 230px;
    margin: 0 auto;
    padding-bottom: 20px;
 }
 .news_item .title, .testimonial_item .title{
     font-weight:bold;
     font-size: 24px;
     padding: 10px 0;
 }
.price{
    font-size: 24px;
    font-weight:bold;
    color: #ffcc00;
}
.product_item .overlay, .news_item .overlay{
    position: absolute;
    z-index: 20;
    display: block;

    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 12%;
    background-color: rgba(0, 0, 0, 0.5);
    top: -1000px;
}
.product_item:hover .overlay, .news_item:hover .overlay{
    top: 0;
}
.product_item .overlay span, .news_item .overlay span{
    font-size: 28px;
    display: inline-block;
    padding: 20px 40px;
    border: 2px solid #ffcc00;
    color: #ffcc00;
    font-weight:bold;
}
.category_desciption div{
    font-size: 15px;
    color: #333;
    line-height: 20px;
}
.category_desciption .h3{
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    padding: 15px 0;
}
.row.item_services {
    padding: 20px 40px;
    width: 100%;
    display: table;
}
.service_item {
    display: table-cell;
    width: 20%;
}
.service_item img{
    width: 160px;
    margin: 0 auto;
    display: block;
}
.service_item span{
    padding: 10px 20px;
    font-size: 20px;
    font-weight:bold;
    display: block;
    text-align: center;
    line-height: 24px;
}
.call_servise{
    display: block;
    margin: 40px auto;
    width: 300px;
   text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #fff;
    color: #333333;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.52);
    padding: 15px 0;
    cursor: pointer;
}
.breadcrumb {
    background-color: transparent;
}

.breadcrumb > li + li::before {

    color: #ffcc00;
    font-weight:bold;
    font-size: 24px;

}
.breadcrumb > li a{
    text-transform: uppercase;
    color: #ccc;
    font-size: 18px;
    font-weight: bold;

}
.breadcrumb > li:last-child a{
    color: #ffffff;
}
.module_servises .box-heading .h3{
    width: 450px;
}
.module_servises .box-heading .h3::before{
    left: -33%;
}
.module_servises .box-heading .h3::after{
    right: -33%;
}
.product_box .box-heading .h3{
    width: 380px;
}
.product_box .box-heading .h3::before {
    left: -40%;
}
.product_box .box-heading .h3::after {
    right: -40%;
}
.service_right, .service_left{
    position: relative;
    margin-top: 60px;
}
.service_left{
    padding-bottom: 30px;
}

.service_right::before, .service_left::before {
    content: '';
    top: 0;
    width: calc(100% - 100px);
    height: 100%;
    border: 2px solid #ffcc00;
    display: block;

    position: absolute;
    border-radius: 4px;
}
.service_right::before{
    left: 0;
}
.service_left::before {
    right: 0;
    top: 65px;
    height: calc(100% - 65px);
}
.service_right img, .service_left img{
    width: 100%;
    position: relative;
    top: -40px;
    border: 2px solid #ffcc00;
    border-radius: 2px;
}
.product_page .service_right .h3, .product_page .service_left .h3{
    padding-left: 60px;
    padding-top: 10px;
}
.product_page .service_left .h3{
    padding-left: 20px;
}
.product_page .h3{
    font-size: 20px;
    font-weight: bold;

}
.service_right ul li, .service_left ul li{
    padding: 15px 0px 15px 60px;
    background-image: url('/image/catalog/ul.png') ;
    background-repeat: no-repeat;
    background-position:  20px center;
}
.description_product_nm p{
    line-height: 20px;
    font-size: 15px;
    padding: 10px 0;
    color: #333333;
}
.service_price .row > div{
    padding: 10px 20px;
    border: 2px solid #ffcc00;
    position: relative;
    top: -25px;
    background-color: #fff;
    z-index: 9;
    font-weight:bold;
    font-size: 18px;
}
.service_price .row > div strong{
    font-size: 22px;
}
.sent_request{
    display: block;
    margin: 20px auto;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight:bold;
    width: 280px;
    text-align: center;
    background-color: #ffcc00   ;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.32);
    color: #333333;
    font-size: 18px;

}
.product_descr_bottom{
    line-height: 20px;
    font-size: 15px;
}
footer {
    background-image: url(/image/catalog/footer.jpg);

    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position:  bottom center;
}
.footer_cover{
    padding: 260px 0 100px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.11) 1%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.11) 1%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.11) 1%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#000000',GradientType=0 );
}
footer .h3{
    margin-top: 0px;
    color: #fff;
    font-size: 22px;
    font-weight:bold;
}
footer .phones{
    padding: 0;
}
footer .phones div{
    float: none;
}
footer .footer_bg_ico *, footer .footer_bg_ico {
    color: #fff;
    padding: 0;
    font-size: 17px;
}
footer .footer_bg_ico{
    padding: 20px 0 20px 50px;
    position: relative;
}
.phones.footer_bg_ico::before {
    content: "\f095";
    top: 25px;
}
.address.footer_bg_ico::before{
    content: "\f041";
}
.mail.footer_bg_ico::before{
    content: "\f0e0";
}

.footer_bg_ico::before {
    font-family:FontAwesome;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 14px;
}
footer .footer_bg_ico a:nth-child(1){
    padding-bottom: 5px ;
}
footer .cos-link a{
    display: inline-block;
    color: #000;
    background-color: #ffcc00;
    margin-right: 20px;
}
footer .cos-link a:last-child{
    margin-right:0;
}
.cos-link a .fa{
    font-size: 50px;
    line-height: 65px;
    width: 65px;
    text-align: center;
}
.cos-link{
    padding-top: 20px;
}
form.footer input{
    background-color: transparent;
    border: none;
    padding: 20px 20px 20px 50px;
    color: #808080;
    font-size: 18px;
    border-bottom: 1px solid #808080;
    margin-bottom: 10px;

}
form.footer div.input_wrap{
    display: block;
    position: relative;
}
form.footer div.input_wrap:first-child::before{
    content:  "\f007";
}
form.footer div.input_wrap::before{
    content:  "\f095";
    position: absolute;
    font-family: FontAwesome;
    left: 5px;
    top: 13px;
    font-size: 28px;
}
form.footer button{
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #ffcc00;
    color: #333333;
    text-transform: uppercase;
    border: none;
    font-weight:bold;
    border-radius: 6px;

}